<ion-header>
    <ion-navbar>
        <ion-title>
            Kategori Juz
            <ion-icon item-end name="md-share" padding-left float-right (click)="shareAppOption()"></ion-icon>
        </ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <button ion-item *ngFor="let juz of allJuzz" (click)="DetailJuz(juz)">
        <ion-avatar item-start>
            <img src="assets/imgs/icon-alquran.png">
        </ion-avatar>
        <h2>{{juz.juzName}}</h2>
        <p>{{juz.filteredDataSurat.length}} Surat</p>
    </button>
</ion-content>