<ion-header>
    <ion-navbar>
        <ion-title>
            About
            <ion-icon item-end name="md-share" padding-left float-right (click)="shareAppOption()"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p text-center class="titleStyle">
        Murottal Offline 30 Juz
    </p>
    <p class="bold" padding-top>
        Versi {{this.versionApps}}
    </p>
    <p>
        Semoga bermanfaat bagi kita semua,menjadi pedoman semasa hidup kita, ditemani dalam kubur kita, mendapat syafa'at di hari kiamat kelak, ,, aamiin
    </p>
    <p>
        aplikasi ini terdiri dari beberapa menu:
    </p>
    <p *ngFor="let content of contentsData">
        {{content.description}}
    </p>
    <p class="bold" padding-top>
        Info Developer :
    </p>
    <p>
        Nama : {{fullName}}
    </p>
    <p>
        Email : {{email}}
    </p>
    <p>
        {{generation}}
    </p>
    <p>
        {{address}}
    </p>
    <p class="bold" padding-top>
        Kritik dan Saran :
    </p>
    <p>
        {{suggestion}}
    </p>
</ion-content>