page-about {
    .bold {
        font-weight: bold;
    }
    .titleStyle {
        font-weight: bold;
        font-size: 1.5em;
    }
    .custom-scroll {
        margin-bottom: 70px;
    }
    .italicFont {
        font-style: italic;
    }
}