page-detail-surat {
    .iconNewCustom {
        font-size: 2.5em;
    }
    .contentPlay {
        position: fixed;
        bottom: 110px;
        width: 100%;
        left: 0px;
        height: 75px;
    }
    .progressBar {
        position: fixed;
        bottom: 88px;
        width: 100%;
        left: 0px;
        height: 26px;
        padding: 15px;
    }
    .newButtonCustom {
        height: 70px;
    }
    .button-clear {
        color: #2e8b57;
    }
    .icon-circle-large {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        font-size: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #ebebeb;
        text-align: center;
    }
    .ionavatar {
        position: absolute;
        top: 40%;
        right: 0;
        left: 0;
    }
    .fontStyle {
        font-weight: bold;
        font-size: 1.5em;
    }
    .detailSurat {
        color: blue;
    }
    .bold {
        font-weight: bold;
    }
}