<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Kategori" tabIcon="ios-list"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="جُزْءُ عَمَّ" tabIcon="ios-bookmarks"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>