<ion-header>
    <ion-navbar>
        <ion-title>Kategori
            <ion-icon item-end name="md-share" padding-left float-right (click)="shareAppOption()"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <button ion-item *ngFor="let category of allCategory" (click)="DetailCategory(category)">
          <ion-avatar item-start>
              <img [src]="category.icon">
          </ion-avatar>
          <h2>{{category.name}}</h2>
          <p>{{category.count}}</p>
      </button>
</ion-content>