page-juz-amma {
    .countAyat {
        color: #c5c5c5;
        min-width: 55px;
    }
    .custom-scroll {
        margin-bottom: 70px;
    }
    .margin-bottom0 {
        margin-bottom: 0px !important;
    }
    .padding2 {
        padding: 2px;
    }
    .arabSuratName {
        padding: 2px;
        min-width: 80px;
    }
}