<ion-header>
    <ion-navbar>
        <ion-title>Detail Surat
            <ion-icon item-end name="md-share" padding-left float-right (click)="shareAppOption()"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-label class="fontStyle" text-center>
        {{detailSuratContent.suratName}}
    </ion-label>
    <p>{{detailSuratContent.suratName}} berarti {{detailSuratContent.suratMeaning}}, {{detailSuratContent.suratName}} memiliki {{detailSuratContent.countAyat}} ayat, Surat ini termasuk kategori Surat {{detailSuratContent.suratCategory}} </p>
    <ion-avatar class="ionavatar" text-center>
        <img class="icon-circle-large" src="assets/imgs/icon-alquran-detail.png">
    </ion-avatar>
    <div text-center class="contentPlay">
        <button class="newButtonCustom" ion-button clear (click)="playRandom()">
            <ion-icon [ngClass]="randomClass" name="ios-shuffle" ></ion-icon>
        </button>
        <button class="newButtonCustom" ion-button clear (click)="previous()">
              <ion-icon class="iconNewCustom" name="ios-skip-backward" ></ion-icon>
        </button>
        <button class="newButtonCustom" ion-button clear (click)="playorpause()">
              <ion-icon class="iconNewCustom" [name]="iconMediaPlaying" ></ion-icon>
          </button>
        <button class="newButtonCustom" ion-button clear (click)="next()">
              <ion-icon class="iconNewCustom" name="ios-skip-forward" ></ion-icon>
          </button>
        <button class="newButtonCustom" ion-button clear (click)="playRepeat()">
              <ion-icon [ngClass]="repeatClass" name="ios-repeat" ></ion-icon>
          </button>
    </div>
</ion-content>