<ion-header>
    <ion-navbar>
        <ion-title *ngIf="showTitle">Home
            <ion-icon item-end name="md-share" padding-left float-right (click)="shareAppOption()"></ion-icon>
            <ion-icon item-end name="ios-search" float-right (click)="Searching()"></ion-icon>
        </ion-title>
        <ion-searchbar *ngIf="!showTitle" [(ngModel)]="searchInput" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
        </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="!showTitle">
        <ion-item *ngFor="let surat of allListSurat" (click)="DetailSurat(surat)">
            <p item-start>{{surat.id}}</p>
            <h2 class="padding2">{{surat.suratName}}</h2>
            <p class="padding2">{{surat.suratMeaning}}</p>
            <div item-end>
                <h2 class="arabSuratName" text-right>{{surat.arabSuratName}}</h2>
                <p class="countAyat" text-right>{{surat.countAyat}} ayat</p>
            </div>
        </ion-item>
    </div>
    <ion-avatar *ngIf="showTitle" class="ionavatar" text-center>
        <ion-label class="fontStyle padding" text-center>
            Murottal Offline 30 Juz
        </ion-label>
        <img class="icon-circle-large" src="assets/imgs/icon-alquran-detail.png">
    </ion-avatar>
</ion-content>