page-home {
    .icon-circle-large {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        font-size: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #ebebeb;
        text-align: center;
    }
    .ionavatar {
        position: absolute;
        top: 33%;
        right: 0;
        left: 0;
    }
    .fontStyle {
        font-weight: bold;
        font-size: 1.5em;
    }
    .padding {
        padding-bottom: 20px;
    }
    .custom-scroll {
        margin-bottom: 70px;
    }
    .padding2 {
        padding: 2px;
    }
    .arabSuratName {
        padding: 2px;
        min-width: 80px;
    }
    // .ion-md-share {
    //     color: #ED4248;
    // }
    // .ion-md-arrow-dropright-circle {
    //     color: #508AE4;
    // }
    // .ion-logo-whatsapp {
    //     color: #31D55F;
    // }
    // .action-sheet-cancel ion-icon,
    // .action-sheet-destructive ion-icon {
    //     color: #757575;
    // }
    .haditsContent {
        position: absolute;
        top: 55%;
        right: 0;
        left: 0;
        font-size: 14px;
    }
}