// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color: #2e8b57;
}

.toolbar-title {
    color: #fff;
}

.bar-button-default,
.bar-button-clear,
.bar-button {
    color: #fff;
}

.label-md {
    margin: 5px 10px 0 10px;
}

.floatingPlayButton {
    position: absolute;
    width: 100%;
    bottom: 62px;
    margin: 0px;
    height: 77px;
    padding: 7px;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    opacity: 1;
}

.labelStyle {
    padding: 8px 10px 2px 10px;
    color: #ffffff;
}

.itemPlay {
    padding: 0;
    height: 60px;
}

.squareAvatar {
    border-radius: 0 !important;
    min-width: 64px;
    min-height: 100%;
    height: 68px !important;
}

ion-item.item.item-block.item-md.item-md.ion-item-custom {
    padding-left: 0px !important;
    background-color: #e4eae6;
}

.item-md ion-avatar[item-start].avatar-custom {
    margin: 0;
    padding-left: 0px;
}

.item-md.item-block .item-inner.custom {
    border-bottom: transparent;
}

ion-label.label.label-md.title-custom {
    margin: 0!important;
    padding-top: 5px;
    font-size: 10px;
}

.icon-play-track {
    margin-top: 15px;
}

.progressBar {
    width: 100%;
    left: 0px;
    height: 26px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    bottom: 20px;
    box-shadow: none;
}

.customIcon {
    color: #2e8b57;
    font-size: 2.5em;
}

.hideTemporary {
    bottom: -50% !important;
}

.margin-bottom0 {
    margin-bottom: 0 !important;
}

.paddingLeft20 {
    padding-left: 20px;
}

.paddingTop6 {
    padding-top: 6px;
}

.marginButtonCustom {
    height: 67px !important;
    width: 40px;
    margin: 0!important;
    padding: 0!important;
}

.height0 {
    height: 0!important;
}

.margin-bottom125 {
    margin-bottom: 125px!important;
}

.action-sheets-basic-page {
    .ion-md-share {
        color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
        color: #508AE4;
    }
    .ion-logo-whatsapp {
        color: #31D55F;
    }
    .ion-logo-facebook {
        color: #508AE4;
    }
    .ion-ios-mail {
        color: #757575;
    }
    .ion-md-mail {
        color: #ED4248;
    }
    .ion-md-mail-open {
        color: #FFD700
    }
    .action-sheet-cancel ion-icon {
        color: #757575;
    }
}