<ion-nav [root]="rootPage">
</ion-nav>
<audio-track *ngIf="showNavigation" [ngClass]="navigationPlaying" #audio [track]="selectedTrack" (onFinish)="onTrackFinished()">
    <ion-item *ngIf="!isDetailSurat" class="ion-item item item-block item-md item-md ion-item-custom item-md item-block item-inner custom">
        <ion-avatar class="item-md ion-avatar avatar-custom" item-start>
            <img class="squareAvatar" src="assets/imgs/icon-alquran-detail.png">
        </ion-avatar>
        <p class="title-custom" text-center><strong>{{detailSuratContent.suratName}}</strong></p>
        <audio-track-progress-bar class="paddingTop6" dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
        <button class="marginButtonCustom" ion-button clear item-end>
          <ion-icon class="customIcon" [name]="iconMediaPlaying" (click)="playorpause()"></ion-icon>
        </button>
        <button class="marginButtonCustom" ion-button clear item-end>
        <ion-icon class="customIcon" name="md-close" (click)="closeMurottal()"></ion-icon>
      </button>
    </ion-item>
    <audio-track-progress-bar [ngStyle]="{visibility:showProgressInDetail?'visible':'hidden'}" [ngClass]="progressBar" dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
</audio-track>